################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SalarySearchPortableLibrary/v15
/bin/Debug
/obj/Debug
/packages
/UnitTestProject/bin/Debug
/UnitTestProject/obj/Debug
